body {
    background: #D1D1D1 url('../images/mochaGrunge.png');
    font-family: 'Lato', sans-serif;
}
#main {
    min-height: 600px;
    margin-bottom: 20px;
}
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}
a {
    color: #3bb9bb;
    -o-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -webkit-transition: color .2s linear;
}
a:hover {
    color: #32a0a2;
    text-decoration: none;
}

/*Header Start*/
#site-header {
    background-color: #E06331;
    border-color: #222;
    color: #fff;
    font-weight: 300;
    /* padding: 15px; */
}
#site-header .logo {
    line-height: 60px;
    width: 300px;
}

#site-header .logo .alt {
    color: #3bb9bb;
}
#site-header .search-box-wrapper {
    margin-top: 0px;
    padding-top: 13.5px;
    padding-left: 15px;
}
#site-header .overlap {
    position: absolute;
    background: white;
    width: 19%;
    padding: 0 10px 0 32px;
    color: #333;
    border-radius: 2px 0px 0px 2px;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
}
#site-header .searchformInput {
    background: rgba(244,244,244,0.6);
    border: none;
    font-size: 14px;
    color: #909090;
    border-right: none;
    height: 37px;
    padding: 0 10px 0 32px;
    outline: none;
    text-overflow: ellipsis;
    border-radius: 2px 0px 0px 2px;
    font-family: "font-regular";
    position: relative;
}
#site-header .searchformButton {
    position: relative;
    top: 0;
    background: #333;
    color: #fff;
    transition: all 0.2s ease-out;
    height: 37px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    border-radius: 0 3px 3px 0 !important;
}
#site-header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20.83333%;
}
#site-header .menu .cartContainer {
    border-left: 1px solid rgba(0,0,0,0.07);
    height: 63px;
    text-align: center;
    display: table;
    cursor: pointer;
}
.cartContainer .cartInner {
    vertical-align: middle;
    display: table-cell;
}
.reset-padding {
    padding: 0;
}
.pad-rt{
    padding-right: 5px; 
}
.col-xs-9 {
    width: 37.5%;
}
.col-xs-11 {
    width: 45.83333%;
}

.col-xs-13 {
    width: 54.16667%;
}
.col-xs-12 {
    width: 50%;
}
#site-header .menu .myAccountTab {
    height: 63px;
    color: #555555;
    font-size: 14px;
    display: inline-table;
    padding-top: 5px !important;
    cursor: pointer;
    border-left: 1px solid rgba(0,0,0,0.07);
}
.myAccountTab .accountInner {
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
    padding-top: 12px;
    padding-left: 22px;
}
.myAccountTab .accountInner .accountUserName {
    color: #fff;
    display: inline-block;
    line-height: 14px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100px;
    max-height: 13px;
    text-align: center;
    padding-bottom: 1px;
    box-sizing: content-box;
}
.myAccountTab .accountInner .accountUserImg {
    float: left;
    margin-top: -5px;
    padding-right: 0px;
    padding-left: 12px;
    bottom: 5px;
}

.myAccountTab .accountInner .accountUserImg img {
    width: 37px;
    height: 37px;
    border-radius: 50px;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.hidden, .disp-none {
    display: none;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.hard-hidden {
     display: none !important; 
}

.dropdownWrapper .dropdownAccount .accountList li.logoutNew {
    text-align: center!important;
    margin-top: 7px
}
.dropdownWrapper .dropdownAccount .accountList li.logoutNew .accountBtn {
    border-radius: 3px!important;
    height: 37px;
    font-size: 13px!important;
    line-height: 30px;
    background: #555
}
.dropdownAccountNonLoggedIn, .dropdownAccount {
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
    width: 215px;
    top: 62.6px;
    right: 0;
    z-index: 100;
    position: absolute;
    border-radius: 4px 0px 4px 4px;
    background-color: #333;
}
ol, ul {
    list-style: none;
}
.dropdownAccountNonLoggedIn .accountList, .dropdownAccount .accountList {
    float: left;
}
.dropdownAccountNonLoggedIn .accountList ul, .dropdownAccount .accountList ul {
    list-style-type: none;
    z-index: 100;
    width: 100%;
    float: left;
    padding: 15px 0px;
}
.dropdownAccountNonLoggedIn .accountList ul li, .dropdownAccount .accountList ul li {
    float: left !important;
    width: 100%;
    text-align: left !important;
}
.dropdownAccountNonLoggedIn .accountList ul a, .dropdownAccount .accountList ul a {
    width: 100%;
    display: block;
    line-height: 35px;
    padding-left: 15px;
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
    text-decoration: none;
    border-radius: 0px !important;
}
.dropdownAccountNonLoggedIn .accountList ul li:hover,
.dropdownAccount .accountList ul li:hover {
    background: rgba(0, 0, 0, 0.1)
}
.accountHeadColor {
    background-color: #333;
    color: #fff !important
}

/*Header End*/
#site-bar {
    height: 40px;
    background: #4d4d4d;
    line-height: 40px;
}
#site-bar h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 40px;
    display: inline-block;
    color: #bbbbbb;
}
#site-bar p {
    margin: 0 0 0 4px;
    padding: 0 0 0 5px;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    border-left: solid 1px #7a7a7a;
    line-height: 15px;
    color: #CCC;
}
footer {
    height: 30px;
    line-height: 30px;
    background: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .container {
    text-align: right;
    color: #999;
}
footer .container .glyphicon-heart {
    color: #ff2e46;
}
.no-data {
    text-align: center;
    font-style: italic;
    color: #333;
    line-height: 100px;
    margin: 0;
}
.page-loader {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 200px 0 0 0;
    background-color: rgba(0, 0, 0, 0.80);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-default {
    color: #555555;
    background-color: #eeeeee;
    border-color: #e2e2e2;
}
.btn-default:hover, .btn-default:focus, .btn-group.open .dropdown-toggle.btn-default {
    background-color: #eeeeee;
    border-color: #e2e2e2;
}
.btn-primary {
    color: #ffffff;
    background-color: #158cba;
    border-color: #127ba3;
}
.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #158cba;
    border-color: #127ba3;
}
.btn-success {
    color: #ffffff;
    background-color: #28b62c;
    border-color: #23a127;
}
.btn-success:hover, .btn-success:focus, .btn-group.open .dropdown-toggle.btn-success {
    background-color: #28b62c;
    border-color: #23a127;
}
.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}
.btn-info {
    color: #ffffff;
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.btn-info:hover, .btn-info:focus, .btn-group.open .dropdown-toggle.btn-info {
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 15px 16px 13px;
    line-height: 15px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-info {
    background-color: #75caeb;
}
.label-default {
    background-color: #999999;
}
.label-dark {
    background-color: #333;
}
